<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Basic Page Layout</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <!-- Header Section -->
    <header>
      <div class="head1">Web Dev Team</div>
      <div class="head2">Web Development and Freelancing Training</div>

      <!-- Menu Navigation Bar -->
      <nav>
        <a href="#home">HOME</a>
        <a href="#news">NEWS</a>
        <a href="#notification">PROJECTS</a>
        <div class="menu-log">
          <a href="#login">LOGIN</a>
        </div>
      </nav>
    </header>
    <!-- Body section -->
    <main>
      <section>
        <h2>Web and Freelancing Tops</h2>
        <article>
          <h3>Web Development</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex quas
            consequuntur, assumenda aperiam cumque eaque amet suscipit error
            odio delectus.
          </p>
        </article>
        <article>
          <h3>Freelancing Opportunities</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi
            numquam eligendi suscipit dolor necessitatibus odit exercitationem,
            aut odio laboriosam, praesentium nulla quas. Ex voluptatum obcaecati
            sit, repellat iusto, totam a.
          </p>
        </article>
      </section>
      <section>
        <h2>other Content section</h2>
        <article>
          <h3>Web Development</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex quas
            consequuntur, assumenda aperiam cumque eaque amet suscipit error
            odio delectus.
          </p>
        </article>
        <article>
          <h3>Freelancing Opportunities</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi
            numquam eligendi suscipit dolor necessitatibus odit exercitationem,
            aut odio laboriosam, praesentium nulla quas. Ex voluptatum obcaecati
            sit, repellat iusto, totam a.
          </p>
        </article>
      </section>
    </main>

    <!-- Footer Section -->
    <footer>
      <small>Shaqodoon &copy; 2020</small>
      <br />
      <small> developed by RESI Student</small>
    </footer>
  </body>
</html>
